@charset "UTF-8";

/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 2;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

/*--------------------*/
body {
    background-color: rgb(255, 255, 255);
    font-family: 'Cabin', sans-serif;
    max-width: 1440px;
    margin: 0 auto;
}
.container{
    margin: 0px 135px;
}

header {
    margin-bottom: 30px;
    .header_menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;
    }

    .header_menu-links {
        display: flex;

        li {
            position: relative;
            transition: all 8s ease;

            ::after,
            ::before {
                content: '';
                position: absolute;
                height: 2px;
                background-color: #333333;
                visibility: hidden;
            }

            ::after {
                top: -5px;
                left: 0;
                right: 0;
                transform: translateY(-50%);
            }

            ::before {
                bottom: -5px;
                left: 0;
                right: 0;
                transform: translateY(50%);
            }

            &:hover {

                ::after,
                ::before {
                    visibility: visible;
                }
            }
            padding-left: 20px;
            padding-right: 20px;
        }

        a {
            color: #333333;
        }
    }
    ._icon-logo{
        font-size: 60px;
    }
    .logo_name{
        margin-top: -15px;
    }
}

.main_section {
    .main_section-container {
        display: flex;
        justify-content: space-between;
        align-items:center;
    }

.main_section-pretitle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.project-section{
    color: rgb(214, 214, 214);
    font-size: 80px;
    text-shadow: 2px 2px 2px rgb(126, 126, 126);
}
.home-section{
    margin-top: -40px;
    font-size: 80px;
    text-shadow: 2px 2px 2px rgb(126, 126, 126);
}

.main_section-title {}

.main_section-arrows {
    margin-top: 70px;
}

.arrow-left {
    font-size: 18px;
    background-color: #F2F2F2;
    padding: 12px;
    border: 1px solid rgba(128, 128, 128, 0.65);
    color: rgba(128, 128, 128, 0.829);;
}

._icon-arrow-left {}

.arrow-right {
    font-size: 18px;
    background-color: #F2F2F2;
    padding: 12px;
    border: 1px solid rgba(128, 128, 128, 0.65);
    color: rgba(128, 128, 128, 0.829);
    margin-left: 10px;
}

._icon-arrow-right {
    margin-left: 10px;
}

.main_section-numbers {
    color: #BDBDBD;
    letter-spacing: 5px;
    margin-top: 70px;

        p{
            font-size: 25px;
        }
    }

.main_section-img{
    position: relative;

.button_img{

    a{
        position: absolute;
        background-color: #ffffff;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        padding: 20px 30px;
        width: 200px;
        color: #333333;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    a:hover{
        transition: all 1s ease 0s;
        background-color: #333333;
        color: #ffffff;
        border-radius: 20px;
    }
    }
}

}
.section-about_company {
    margin-top: 50px;
.main_container-company {
    display: flex;
    align-items: center;
    gap: 55px;
    background-color: #FBFBFB;
    height: 460px;
    justify-content: center;
    flex-wrap: wrap;
}

.first-column_company {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 55px;
}

.third-column_company {
    width: 390px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h3{
        color: #33333355;
        font-size: 50px;
    }

    p{
        font-size: 16px;
    }

    a{
        display: flex;
        align-items: center;
        justify-content: center;
        color: #333333;
        background-color: #ffffff;
        width: 220px;
        height: 70px;
    }
    a:hover{
        transition: all 1s ease 0s;
        background-color: #333333;
        color: #ffffff;
        border-radius: 20px;
    }
    }
}

.section_tasks {
    margin-top: 130px;

    h3{
        color: #BDBDBD;
        font-size: 40px;
    }

.section_tasks-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.column-tasks {
    display: flex;
    max-width: 570px;
    align-items: center;
    gap: 20px;

    h6{
        font-size: 120px;
        font-family: 'Alfa Slab One', cursive;
        color: #F2F2F2;
    }

    p{
        font-family: 'Abel', sans-serif;
        font-size: 16px;
        max-width: 400px;
    }
}
}
.section_projects {
    h3{
        font-size: 40px;
        color: #BDBDBD;
    }
.main_container-projects {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.column-project {
    margin-top: 30px;
    display: flex;
    gap: 30px;
}
a{
    display: flex;
    align-items: center;
    background-color: #333333;
    width: 220px;
    height: 70px;
    color: #ffffff;
    justify-content: center;
    margin-top: 30px;
    transition: all 1s ease 0s;
}

a:hover {
    background-color: #BDBDBD;
    color: #333333;
    border-radius: 20px;
}


.test-hidden {
    transition: all 1s ease 0s;
    filter: grayscale(0);
    position: relative;
}

.hidden-text{
    display: none;
}

.test-hidden:hover {
    filter: grayscale(5);
    cursor: pointer;
}
.test-hidden:hover .hidden-text{
    display: block;
    position: absolute;
    top: 30px;
    left: 150px;
    padding: 10px;
    text-align: center;
}

.hidden-text p {
    color: #ffffff;
    font-size: 40px;
    text-shadow: 1px 1px 1px black;
    transition: all 1s ease 0s;
}

.hidden-text .arrow {
    font-size: 12px;
    cursor: pointer;
}
}

.section_conection {
    margin-top: 115px;
    h3{
        font-size: 40px;
        color: #BDBDBD;
    }
.section_conection-contauner {
    display: flex;
    justify-content: space-between;
}

.conection-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    max-width: 391px;
}
input{
    max-width: 391px;
    background-color: #F3F3F3;
    padding: 12px;
    margin-top: 15px;
    color: #8D8D8D;
}
.message{
    height: 147px;
}
p{
    margin: 20px 0px 20px 70px;
    color: #333333;
    font-size: 14px;
}
a{
    width: 220px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333333;
    color: white;
    transition: all 1s ease 0s;
}
a:hover {
    background-color: #BDBDBD;
    color: #333333;
    border-radius: 20px;
}
}