@charset "UTF-8";

/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 2;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

/*--------------------*/
body {
    background-color: rgb(255, 255, 255);
    font-family: 'Cabin', sans-serif;
    max-width: 1440px;
}
.container{
    margin: 0px 135px;
}

header {
    .header_menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;
    }

    .header_menu-links {
        display: flex;

        li {
            position: relative;
            transition: all 8s ease;

            ::after,
            ::before {
                content: '';
                position: absolute;
                height: 2px;
                background-color: #333333;
                visibility: hidden;
            }

            ::after {
                top: -5px;
                left: 0;
                right: 0;
                transform: translateY(-50%);
            }

            ::before {
                bottom: -5px;
                left: 0;
                right: 0;
                transform: translateY(50%);
            }

            &:hover {

                ::after,
                ::before {
                    visibility: visible;
                }
            }
            padding-left: 20px;
            padding-right: 20px;
        }

        a {
            color: #333333;
        }
    }
    ._icon-logo{
        font-size: 60px;
    }
    .logo_name{
        margin-top: -15px;
    }
}
